@using ApwPayrollWebApp.Models
@using ApwPayroll_Application.Features.Leaves.LeaveTypes.Commands.CreateLeaveTypes;
@model MasterModel

@{
    ViewData["Title"] = "Leave Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="card">
        <div class="card-header">
            <span class="card-title fw-normal">Add Leave Type</span>
        </div>
        <div class="card-body">
        <form asp-action="CreateLeaveType" method="post">
            <div class="row g-3">
                    <div class="col-md-4">
                        <label asp-for="createLeaveType.Name" class="form-label">Name</label>
                        <input asp-for="createLeaveType.Name" type="text" class="form-control " placeholder="Enter leavetype name" />
                        <span asp-validation-for="createLeaveType.Name" class="text-danger"></span>
                    </div>
                    <!-- Is Active Switch -->
                    <div class="col-md-2">
                        <div class="form-check form-switch form-control-lg mt-md-3">
                            <input asp-for="createLeaveType.IsActive" type="checkbox" class="form-check-input " id="isActiveToggle" />
                            <label class="form-check-label fs-6 " for="isActiveToggle">Is Active</label>
                        </div>
                    </div>

                    <div class="col-md-2 mt-md-5">
                    <button type="submit" class="btn btn-success" id="addBtn">
                        @(Model.createLeaveType != null && Model.createLeaveType.Id.HasValue && Model.createLeaveType.Id.Value != 0 ? "Update" : "Add")
                    </button>
                    </div>
                
            </div>
        </form>
            </div>
    </div>

    <div class="card">
        <div class="card-header">
            <span class="card-title fw-normal">Add Courses</span>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table  table-hover">
                    <thead class="table-success">
                        <tr>
                            <th class="rounded-start"> Sr.No </th>
                            <th>Name </th>
                            <th>Is Active </th>
                            <th class="rounded-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
        @if (ViewBag.LeaveType != null)
        {
            
                    @foreach (var item in ViewBag.LeaveType)
                    {
                        <tr>
                            <td>@(ViewBag.LeaveType.IndexOf(item) + 1)</td>
                            <td>@item.Name</td>
                            <td>
                                        <div class="form-check form-switch form-control-lg m-0 p-0">
                                <input type="checkbox" class="form-check-input togglebtn" id="isActiveToggle_@item.Id" @(item.IsActive ? "checked" : "") />
                                </div>
                            </td>
                            <td>
                                <a asp-action="LeaveTypeView" asp-route-id="@item.Id" class="btn btn-sm btn-info editBtn">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a class="btn btn-sm btn-danger" onclick="confirmDelete('@item.Id', 'leaveType', '@Url.Action("Delete", "LeaveType")')">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </td>
                        </tr>
                    }
                
        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@Html.Partial("_DeleteConfirmation")

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   


    
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.togglebtn').on('change', function () {
            var $checkbox = $(this);
            var itemId = $checkbox.attr('id').split('_')[1];
            var isActive = $checkbox.is(':checked');

            // Disable the checkbox
            $checkbox.prop('disabled', true);

            $.ajax({
                url: '@Url.Action("UpdateIsActive", "LeaveType")',
                type: 'POST',
                data: {
                    id: itemId,
                    isActive: isActive
                },
                success: function (response) {
                    // Handle success
                    // Re-enable the checkbox
                    window.location.reload(true);
                    $checkbox.prop('disabled', false);
                },
                error: function (xhr, status, error) {
                    // Handle error
                    console.log(xhr.responseText);
                    window.location.reload(true);
                    // Re-enable the checkbox
                    $checkbox.prop('disabled', false);
                }
            });
        });
    });
</script>

