@*  

    @using ApwPayrollWebApp.Views.Documents
@model DocumentViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create Document</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="EmployeeId" />

    <div class="row">
        @for (int i = 0; i < Model.DocumentTypes.Count; i++)
        {
            <div class="col-lg-4">
                <div class="card mb-3" style="max-width: 400px; box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
                    <h5 class="card-title text-success mt-1" style="text-align:center;">@Model.DocumentTypes[i].DocumentTypeName</h5>
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-body">
                                <label for="DocumentTypes_@(i)__File">Upload @Model.DocumentTypes[i].DocumentTypeName Document</label>
                                <input type="file" id="File_@(i)" name="DocumentTypes[@i].File" class="form-control-file" onchange="previewFile(this, 'imagePreview_@(i)');" />
                                <img id="imagePreview_@(i)" src="#" alt="Preview" class="img-fluid mt-2" style="max-width: 100%; display: none;" />
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <label for="DocumentTypes_@(i)__Number">@Model.DocumentTypes[i].DocumentTypeName Number</label>
                        <input type="text" id="Number_@(i)" name="DocumentTypes[@i].Number" class="form-control" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-lg">
            <div class="hstack gap-2 justify-content-end mt-5 mb-3">
                <button type="submit" class="btn btn-sm btn-success">Submit</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        function previewFile(input, imagePreviewId) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var imagePreview = document.getElementById(imagePreviewId);
                if (imagePreview) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                }
            }
            reader.readAsDataURL(input.files[0]);
        }
    </script>
}
  *@

  @using ApwPayrollWebApp.Views.Documents
@model DocumentViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create Document</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="EmployeeId" />

    <div class="row">
        @for (int i = 0; i < ViewBag.DocumentTypes.Count; i++)
        {
            <div class="col-lg-4">
                <div class="card mb-3" style="max-width: 400px; box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
                    <h5 class="card-title text-success mt-1" style="text-align:center;">@ViewBag.DocumentTypes[i].Name</h5>
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-body">
                                <label for="DocumentTypes_@(i)__File">Upload @ViewBag.DocumentTypes[i].Name</label>
                                <input type="file" id="File_@(i)" name="DocumentTypes[@i].File" class="form-control-file" onchange="previewFile(this, 'imagePreview_@(i)');" />
                                <img id="imagePreview_@(i)" src="#" alt="Preview" class="img-fluid mt-2" style="max-width: 100%; display: none;" />
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <label for="DocumentTypes_@(i)__Number">  @ViewBag.DocumentTypes[i].Name   Number </label>
                        <input type="text" id="Number_@(i)" name="DocumentTypes.Number" class="form-control" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-lg">
            <div class="hstack gap-2 justify-content-end mt-5 mb-3">
                <button type="submit" class="btn btn-sm btn-success">Submit</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        function previewFile(input, imagePreviewId) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var imagePreview = document.getElementById(imagePreviewId);
                if (imagePreview) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                }
            }
            reader.readAsDataURL(input.files[0]);
        }
    </script>
}
