
 @using ApwPayrollWebApp.Models
@model MasterModel 
@{
    ViewData["Title"] = "CreateDesignation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateDesignation</h1>


 

<div class="tab-contant">
    <div class="tab-pane">
        <form asp-action="CreateDesignation" method="post">
            <div class="row">
                <div class="col-2">
                    <input asp-for="createDesignation.Id" hidden />
                    <label asp-for="createDesignation.Name" class="form-label">Name</label>
                </div>
                <div class="col-2">
                    <input asp-for="createDesignation.Name" type="text" class="form-control form-control-sm" />

                </div>


                <div class="col-2">
                    <label class="form-label">Description</label>
                </div>

                <div class="col-2">
                    <input asp-for="createDesignation.Description" type="text" class="form-control form-control-sm" />
                </div>


                <div class=" col-2">
                  
                    
                        
                    <button   type="submit" class="btn btn-secondary btn-sm" Id="addBtn">  
                        @(Model.createDesignation!=null && Model.createDesignation.Id.HasValue && Model.createDesignation.Id.Value!=0?" Update":"Add")
                    </button>
                    
                      
                </div>

            </div>
        </form>
        @if (ViewBag.Designation != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th> Sr.No </th>
                        <th>Name </th>
                        <th>Description </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Designation)
                    {
                        <tr>
                            <td>@(ViewBag.Designation.IndexOf(item) + 1)</td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>
                                <a asp-action="DesignationView" asp-route-id="@item.Id" class="btn btn-sm btn-info editBtn">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a class="btn btn-sm btn-danger" onclick="confirmDelete('@item.Id', 'refernece', '@Url.Action("Delete", "Designation")') ">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        }
    </div>
</div>


@section scripts {
    <!-- dropzone min -->
    <script src="~/assets/libs/dropzone/dropzone-min.js"></script>

    <!--crypto-kyc init-->
    <script src="~/assets/js/pages/crypto-kyc.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

    <partial name="_ValidationScriptsPartial" />
     



}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@Html.Partial("_DeleteConfirmation")

<script>
    function confirmDelete(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                let url;


                url = '@Url.Action("Delete", "Designation")/' + id;
            }
            window.location.href = url;
        }
                        })
                    }
</script>







