@model ApwPayroll_Application.Features.Leaves.Commands.CreateLeaves.CreateLeaveCommand

@{
    ViewData["Title"] = "Create Leave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Chosen CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.min.css" rel="stylesheet" />

<!-- Chosen JS -->
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.jquery.min.js"></script>

<div class="container">
    <div class="row mb-3">
        <div class="d-flex justify-content-between">
            <h2>@(Model.Id.HasValue && Model.Id.Value != 0 ? "Update Leave" : "Add Leave")</h2>
        </div>
    </div>

    <form asp-action="CreateLeave" method="post">
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"><h3>Leave Details</h3></div>
                    <div class="card-body">
                        <div class="row mb-3 g-3">
                            <div class="col-md-6">
                                <label asp-for="LeaveTypeId" class="form-label">Leave Type</label>
                                <select asp-for="LeaveTypeId" class="form-control" asp-items="@(new SelectList(ViewBag.LeaveTypeList, "Value", "Text"))" required>
                                    <option value="" disabled selected>Select Leave Type</option>
                                </select>
                                <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Reason" class="form-label">Reason For Leave</label>
                                <input asp-for="Reason" type="text" class="form-control" />
                                <span asp-validation-for="Reason" class="text-danger"></span>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">From-To</label>
                                    <div class="input-group">
                                        <input asp-for="FromDate" type="date" class="form-control" />
                                        <span asp-validation-for="FromDate" class="text-danger"></span>
                                        <input asp-for="ToDate" type="date" class="form-control" />
                                        <span asp-validation-for="ToDate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 d-flex align-items-center">
                                <div class="form-check">
                                    <input asp-for="IsPaid" type="checkbox" class="form-check-input" />
                                    <label asp-for="IsPaid" class="form-check-label">Is Paid</label>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex align-items-center">
                                <div class="form-check">
                                    <input asp-for="IsHalfDay" type="checkbox" class="form-check-input" />
                                    <label asp-for="IsHalfDay" class="form-check-label">Is Half Day</label>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <label asp-for="ContactNumber" class="form-label text-nowrap">Alternate Contact Number</label>
                                <input asp-for="ContactNumber" type="text" class="form-control" />
                                <span asp-validation-for="ContactNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section 2: Adding Leave Role -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"><h3>@(Model.Id.HasValue && Model.Id.Value != 0 ? "Update Role" : "Add Role")</h3></div>
                    <div class="card-body">
                        <div class="row mb-3 g-3">
                            <div class="col-md-6">
                                <label asp-for="LeaveTypeRole.Gender" class="form-label">Gender</label>
                                <select asp-for="LeaveTypeRole.Gender" class="form-control" asp-items="@(new SelectList(Enum.GetValues(typeof(ApwPayroll_Domain.common.Enums.Gender.GenderEnum))))">
                                    <option value="">Select Gender</option>
                                </select>
                                <span asp-validation-for="LeaveTypeRole.Gender" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="LeaveTypeRole.BranchId" class="form-label">Branch</label>
                                <select asp-for="LeaveTypeRole.BranchId" class="form-control" asp-items="@(new SelectList(ViewBag.BranchList, "Value", "Text"))">
                                    <option value="">  Select Branch</option>
                                </select>
                                <span asp-validation-for="LeaveTypeRole.BranchId" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="LeaveTypeRole.DesignationId" class="form-label">Designation</label>
                                <select asp-for="LeaveTypeRole.DesignationId" class="form-control" asp-items="@(new SelectList(ViewBag.DesignationList, "Value", "Text"))">
                                    <option value=""  >Select Designation</option>
                                </select>
                                <span asp-validation-for="LeaveTypeRole.DesignationId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12 text-end">
                
                    <button type="submit" class="btn btn-secondary text-end" id="addBtn">
                        @(Model.Id.HasValue && Model.Id.Value != 0 ? "Update" : "Add")
                    </button>
                
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <!-- Chosen JS -->
    <script src="~/assets/libs/chosen/chosen.jquery.min.js"></script>

    <!-- Initialize Chosen -->
    <script type="text/javascript">
        $(document).ready(function () {
            // Initialize Chosen for select elements
            $(".chosen-select").chosen({
                width: "100%",
                allow_single_deselect: true
            });
        });
    </script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

    <partial name="_ValidationScriptsPartial" />
}
