@using ApwPayrollWebApp.Models
@model ApwPayroll_Application.Features.Holidays.Commands.CreateHolidays.CreateHolidayCommand

@{
    ViewData["Title"] = "Create Holiday";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Include Chosen CSS and JS -->
<link rel="stylesheet" href="~/assets/libs/chosen/chosen.min.css" />
<script src="~/assets/libs/chosen/chosen.jquery.min.js"></script>

<div class="container">
    <div class="row mb-3">
        <div class="d-flex justify-content-between">
            <h2>@(Model.Id.HasValue && Model.Id.Value != 0 ? "Update Holiday" : "Add Holiday")</h2>
            <button type="button" class="btn btn-primary" id="addRuleBtn">Add Rule</button>
        </div>
    </div>

    <form asp-action="CreateHoliday" method="post">
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="row mb-3 g-3">
                    <div class="col-md-6">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input asp-for="Name" type="text" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="HolidayTypeId" class="form-label">Holiday Type</label>
                        <select asp-for="HolidayTypeId" class="form-control" asp-items="@(new SelectList(ViewBag.HolidayTypeList, "Id", "Name"))">
                            <option value="" disabled selected>Select Holiday Type</option>
                        </select>
                        <span asp-validation-for="HolidayTypeId" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="FromDate" class="form-label">From Date</label>
                        <input asp-for="FromDate" type="date" class="form-control" />
                        <span asp-validation-for="FromDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="ToDate" class="form-label">To Date</label>
                        <input asp-for="ToDate" type="date" class="form-control" />
                        <span asp-validation-for="ToDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <input asp-for="IsNotifyToEmployee" type="checkbox" class="form-check-input" />
                            <label asp-for="IsNotifyToEmployee" class="form-check-label">Notify to Employee</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <input asp-for="IsResetToLeaveRequest" type="checkbox" class="form-check-input" />
                            <label asp-for="IsResetToLeaveRequest" class="form-check-label">Reset to Leave Request</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="Description" class="form-label">Description</label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row mb-3 g-3">
                    <div class="col-md-6">
                        <label asp-for="HolidayRuleDto.Gender" class="form-label">Gender</label>
                        <select asp-for="HolidayRuleDto.Gender" class="form-control" asp-items="@(new SelectList(Enum.GetValues(typeof(ApwPayroll_Domain.common.Enums.Gender.GenderEnum))))">
                            <option value="" disabled selected>Select Gender</option>
                        </select>
                        <span asp-validation-for="HolidayRuleDto.Gender" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="HolidayRuleDto.BranchId" class="form-label">Branch</label>
                        <select asp-for="HolidayRuleDto.BranchId" class="form-control" asp-items="@(new SelectList(ViewBag.BranchList, "Id", "Name"))">
                            <option value="" disabled selected>Select Branch</option>
                        </select>
                        <span asp-validation-for="HolidayRuleDto.BranchId" class="text-danger"></span>
                    </div>

               @*      <div class="col-md-12">
                        <label asp-for="HolidayRuleDto.LocationId" class="form-label">Location</label>
                        @Html.ListBoxFor(model => model.HolidayRuleDto.LocationId, (SelectList)ViewBag.LocationList, new { @class = "form-control" })
                        <span asp-validation-for="HolidayRuleDto.LocationId" class="text-danger"></span>
                    </div> *@
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="col-3">
                    <button type="submit" class="btn btn-secondary" id="addBtn">
                        @(Model.Id.HasValue && Model.Id.Value != 0 ? "Update" : "Add")
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts {
    <!-- Chosen JS -->
    <script src="~/assets/libs/chosen/chosen.jquery.min.js"></script>

    <!-- Initialize Chosen -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#HolidayRuleDto_LocationId").chosen({ width: "100%" });
        });
    </script>

    <!-- dropzone min -->
    <script src="~/assets/libs/dropzone/dropzone-min.js"></script>

    <!--crypto-kyc init-->
    <script src="~/assets/js/pages/crypto-kyc.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

    <partial name="_ValidationScriptsPartial" />
}
