 @using ApwPayrollWebApp.Models
@model EmployeeProfileModel
@{
    ViewData["Title"] = "EmployeeDepartment";
    Layout = "~/Views/Shared/Registration/_RegistrationLayout.cshtml";
}


 
 

<div class="tab-contant">
    <div class="tab-pane">
        <form method="post">
            <div class="row">
                <div class="col-lg-6">
                    <label asp-for="createDepartment .Name" class="form-label">Name</label>
                    <input asp-for="createDepartment.Name" type="text" class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label class="form-label">Description</label>
                     
                        <input asp-for="createDepartment.Description" type="text" class="form-control"/>
                        
                     
                    
                </div>
            </div>
            <button type="submit"> Add</button>
            <button type="reset"> Cancel</button>
        </form>
        @if (ViewBag.Department != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th> Sr.No </th>
                        <th>Name </th>
                        <th>Description </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Department)
                    {
                        <tr>
                            <td>@(ViewBag.Department.IndexOf(item) + 1)</td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>
                                <a asp-action="Update" asp-all-route asp-route-id="@item.Id" class="btn btn-sm btn-info editBtn">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a class="btn btn-sm btn-danger" onclick="confirmDelete('@item.Id', 'refernece', '@Url.Action("Delete", "EmployeeDepartment")') ">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        }
    </div>
</div>


@section scripts {
    <!-- dropzone min -->
    <script src="~/assets/libs/dropzone/dropzone-min.js"></script>

    <!--crypto-kyc init-->
    <script src="~/assets/js/pages/crypto-kyc.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

    <partial name="_ValidationScriptsPartial" />




}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@Html.Partial("_DeleteConfirmation")

<script>
    function confirmDelete(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                let url;


                url = '@Url.Action("Delete", "EmployeeDepartment")/' + id;
            }
            window.location.href = url;
        }
                })
            }
</script>




