@{
    ViewData["Title"] = "EmployeeCompleteDetails";
}

<div class="container">


    <div class="row">

        <div class="col-xxl-6">
            <div class="card ribbon-box ">
                <div class="card-header">
                    <div class="ribbon ribbon-success round-shape"><span>Basic Details</span></div>
                </div>
                <div class="card-body">
                    <div class="table-responsive table-card">
                        <table class="table table-borderless align-middle mb-0">
                            <tbody>
                                <tr>
                                    <td class="fw-medium">First Name</td>
                                    <td>@(ViewBag.employee.FirstName ?? "------")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Last Name</td>
                                    <td>@(ViewBag.employee.LastName ?? "------")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Email</td>
                                    <td>@(ViewBag.employee.EmailId ?? "------")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Mobile Number</td>
                                    <td>@(ViewBag.employee.MobileNumber != null ? ViewBag.employee.MobileNumber.ToString() : "------")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Date of Joining</td>
                                    <td>@(ViewBag.employee.DateOfJoining != null ? ViewBag.employee.DateOfJoining.ToString("dd MMM yyyy") : "------")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">ESI Number</td>
                                    <td>@(ViewBag.employee.ESINumber ?? "------")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">PF Number</td>
                                    <td>@(ViewBag.employee.PfNumber ?? "------")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Insurance Number</td>
                                    <td>@(ViewBag.employee.InsuranceNumber.ToString() ?? "------")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Employee Code</td>
                                    <td>@(ViewBag.employee.EmployeeCode ?? "------")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">User ID</td>
                                    <td>@(ViewBag.employee.UserId ?? "------")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Is Broker Exam Pass</td>
                                    <td>@(ViewBag.employee.IsBrokerExamPass != null ? ViewBag.employee.IsBrokerExamPass.ToString() : "------")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Started Salary</td>
                                    <td>@(ViewBag.employee.StartedSalary != null ? ViewBag.employee.StartedSalary.ToString("dd MMM yyyy") : "------")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Salutation</td>
                                    <td>@(ViewBag.employee.Salutation.ToString() ?? "------")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Branch ID</td>
                                    <td>@(ViewBag.employee.BranchId != null ? ViewBag.employee.BranchId.ToString() : "------")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Is Login Access</td>
                                    <td>@(ViewBag.employee.IsLoginAccess ? "Yes" : "No")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">PAN Number</td>
                                    <td>@(ViewBag.employee.PanNumber ?? "------")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Aadhar Number</td>
                                    <td>@(ViewBag.employee.AadharNumber != null ? ViewBag.employee.AadharNumber.ToString() : "------")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Ration Card Number</td>
                                    <td>@(ViewBag.employee.RationCardNumber != null ? ViewBag.employee.RationCardNumber.ToString() : "------")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Passport Number</td>
                                    <td>@(ViewBag.employee.PassportNumber ?? "------")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Voter ID</td>
                                    <td>@(ViewBag.employee.VoterId ?? "------")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Licence Number</td>
                                    <td>@(ViewBag.employee.LicenceNumber ?? "------")</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">UAN Number</td>
                                    <td>@(ViewBag.employee.UanNumber ?? "------")</td>
                                </tr>
                            </tbody>
                        </table>


                    </div>

                </div>
            </div>

        </div>
        <div class="col-xxl-6">

            <div class="card ribbon-box ">
                <div class="card-header">
                    <div class="ribbon ribbon-success round-shape"><span>Personal   Details</span></div>
                </div>
                <div class="card-body">
                    <table class="table table-borderless align-middle mb-0">
                            @if (@ViewBag.employee.EmployeePersonalDetail !=null)
                            {
                                
                        <tbody>
                            <tr>
                                <td><strong>Date of Birth</strong></td>
                                <td>@ViewBag.employee.EmployeePersonalDetail.DOB.ToString("dd MMM yyyy")</td>
                            </tr>
                            <tr>
                                <td><strong>Gender</strong></td>
                                <td>@ViewBag.employee.EmployeePersonalDetail.Gender</td>
                            </tr>
                            <tr>
                                <td><strong>Place of Birth</strong></td>
                                <td>@ViewBag.employee.EmployeePersonalDetail.PlaceOfBirth</td>
                            </tr>
                            <tr>
                                <td><strong>Religion</strong></td>
                                <td>@ViewBag.employee.EmployeePersonalDetail.Religion</td>
                            </tr>
                            <tr>
                                <td><strong>Blood Group</strong></td>
                                <td>@ViewBag.employee.EmployeePersonalDetail.BloodGroup</td>
                            </tr>
                            <tr>
                                <td><strong>Marital Status</strong></td>
                                <td>@ViewBag.employee.EmployeePersonalDetail.MarriedStatus</td>
                            </tr>
                            <tr>
                                <td><strong>Date of Wedding</strong></td>
                                <td>@ViewBag.employee.EmployeePersonalDetail.DateOfWedding</td>
                            </tr>
                            <tr>
                                <td><strong>Active Status</strong></td>
                                <td>@ViewBag.employee.EmployeePersonalDetail.IsActive</td>
                            </tr>
                        </tbody>
                            }
                    </table>

                </div>
            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-xxl-6">
            <div class="card ribbon-box ">
                <div class="card-header">
                    <div class="ribbon ribbon-success round-shape"><span>Education Details</span></div>
                </div>
            <table class="table table-borderless align-middle mb-0">
                <tbody>
                    @foreach (var qualification in ViewBag.employee.EmployeeQualification)
                    {
                        <tr>
                            <td><strong>Course</strong></td>
                            <td><h5>@qualification.Course.Name</h5></td>
                        </tr>
                        <tr>
                            <td><strong>University/Board</strong></td>
                            <td>@qualification.UniversityBoard</td>
                        </tr>
                        <tr>
                            <td><strong>Specification</strong></td>
                            <td>@qualification.Specification</td>
                        </tr>
                        <tr>
                            <td><strong>Obtain Marks</strong></td>
                            <td>@qualification.ObtainMarks</td>
                        </tr>
                        <tr>
                            <td><strong>Total Marks</strong></td>
                            <td>@qualification.TotalMarks</td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr></td>
                        </tr>
                    }
                </tbody>
            </table>
             </div>
        </div>
        <div class="col-xxl-6">
            <div class="card ribbon-box ">
                <div class="card-header">
                    <div class="ribbon ribbon-success round-shape"><span>Experience Details</span></div>

                </div>
                <table class="table table-borderless align-middle mb-0">
                    <tbody>
                        @foreach (var experience in ViewBag.employee.EmployeeExperience)
                        {
                            <tr>
                                <td><strong>ComanyName</strong></td>
                                <td><h5>@experience.ComanyName</h5></td>
                            </tr>
                            <tr>
                                <td><strong> ComanyAddress</strong></td>
                                <td>@experience.ComanyAddress</td>
                            </tr>
                            <tr>
                                <td><strong>Designation</strong></td>
                                <td>@experience.Designation</td>
                            </tr>
                            <tr>
                                <td><strong>Industry</strong></td>
                                <td>@experience.Industry</td>
                            </tr>
                            <tr>
                                <td><strong>AnnualInCome</strong></td>
                                <td>@experience.AnnualInCome</td>
                            </tr>
                            <tr>
                                <td><strong> StartDate-CompletedDate</strong></td>
                                <td>@experience.StartDate.ToString("dd MMM yyyy") - @experience.CompletedDate.ToString("dd MMM yyyy") </td>
                            </tr>
                            <tr>
                                <td colspan="2"><hr></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div> 
            </div>
    </div>




    <div class="row">

        <div class="col-xxl-6">
            <div class="card ribbon-box ">
                <div class="card-header">
                    <div class="ribbon ribbon-success round-shape"><span>Family Details</span></div>
                </div>
                <table class="table table-borderless align-middle mb-0">
                    <tbody>
 
                        @foreach (var familyMember in ViewBag.employee.EmployeeFamily)
                        {

                            <tr>
                                <td><strong>Name:</strong></td>
                                <td>@familyMember.Name</td>
                            </tr>
                            <tr>
                                <td><strong>Gender:</strong></td>
                                <td>@familyMember.Gender</td>
                            </tr>
                            <tr>
                                <td><strong>Relation:</strong></td>
                                <td>@familyMember.RelationType.Name</td>
                            </tr>
                            <tr>
                                <td colspan="2"><hr></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>

        <div class="col-xxl-6">
            <div class="card ribbon-box ">
                <div class="card-header">
                    <div class="ribbon ribbon-success round-shape"><span>ReferralDetail Details</span></div>
                </div>
                <table class="table table-borderless align-middle mb-0">
                    <tbody>
                        @foreach (var familyMember in ViewBag.employee.ReferralDetail)
                        {

                            <tr>
                                <td><strong>ReferenceName:</strong></td>
                                <td>@familyMember.ReferenceName</td>
                            </tr>
                            <tr>
                                <td><strong>Designation</strong></td>
                                <td>@familyMember.Designation</td>
                            </tr>
                            <tr>
                                <td><strong>OrganizationName</strong></td>
                                <td>@familyMember.OrganizationName</td>
                            </tr>   
                            <tr>
                                <td><strong>ContactNumber</strong></td>
                                <td>@familyMember.ContactNumber</td>
                            </tr>  
                            <tr>
                                <td><strong>YearsOfAcquaintance</strong></td>
                                <td>@familyMember.YearsOfAcquaintance</td>
                            </tr>
                            <tr>
                                <td colspan="2"><hr></td>
                            </tr>
                        }
                       </tbody>
                  </table>
           </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card ribbon-box">
                <div class="card-header">
                    <div class="ribbon ribbon-success round-shape">
                        <span>Employee Documents</span>
                    </div>
                </div>
                @if (ViewBag.employee.EmployeeDocuments != null)
                {
                    <div class="row">
                        @foreach (var document in ViewBag.employee.EmployeeDocuments)
                        {
                            <div class="col-md-4 mb-3">
                                <div class="card shadow-sm border-primary">
                                    <div class="card-body">
                                        <!-- Document Type Heading -->
                                        <h5 class="card-title text-center mb-3">@document.EmployeeDocumentType.Name</h5>

                                        <!-- Document Image -->
                                        @if (!string.IsNullOrEmpty(document.Document.Url))
                                        {
                                            <div class="text-center mb-3">
                                                <img src="@document.Document.Url" alt="Document Image"
                                                     style="width: 100%; height: 200px; object-fit: cover;">
                                            </div>
                                        }

                                        <!-- Document Code -->
                                        <p class="card-text text-center font-weight-bold">
                                            <b>Code:</b> @document.Code
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
  
</div>