@using ApwPayrollWebApp.Models
@model MasterModel
@{
    ViewData["Title"] = "HolidayTypeView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tab-contant">
    <div class="tab-pane">
        <form asp-action="CreateHolidayType" method="post">
            <div class="row">
                <div class="col-auto">
                    <input asp-for="createHolidayType.Id" hidden />
                    <label asp-for="createHolidayType.Name" class="form-label">Name</label>
                </div>
                <div class="col-auto">
                    <input asp-for="createHolidayType.Name" type="text" class="form-control form-control-sm" />
                    <span asp-validation-for="createHolidayType.Name" class="text-danger"></span>
                </div>
                <div class="col-auto ms-4">
                    <label class="form-label">Is Active</label>
                </div>
                <div class="col-auto">
                    <div class="form-check form-switch">
                        <input asp-for="createHolidayType.IsActive" type="checkbox" class="form-check-input" id="isActiveToggle" style="width: 3rem; height: 1.5rem;" />
                        <label class="form-check-label ms-3" for="isActiveToggle">Active</label>
                    </div>
                </div>
                 
                    <div class="col-2 ms-5">
                        <button type="submit" class="btn btn-secondary btn-sm" id="addBtn">
                        @(Model.createHolidayType != null && Model.createHolidayType.Id.HasValue && Model.createHolidayType.Id.Value != 0 ? "Update" : "Add")
                    </button>
                </div>
            </div>
        </form>

        @if (ViewBag.HolidayType != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Sr. No</th>
                        <th>Name</th>
                        <th>Is Active</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.HolidayType)
                    {
                        <tr>
                            <td>@(ViewBag.HolidayType.IndexOf(item) + 1)</td>
                            <td>@item.Name</td>
                            <td>
                                <div class="form-check form-switch">
                                    <input type="checkbox" class="form-check-input" id="isActiveToggle_@item.Id" style="width: 3rem; height: 1.5rem;" @(item.IsActive ? "checked" : "") />
                                    <label class="form-check-label" for="isActiveToggle_@item.Id">Active</label>
                                </div>
                            </td>
                            <td>
                                <a asp-action="HolidayTypeView" asp-route-id="@item.Id" class="btn btn-sm btn-info editBtn">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a class="btn btn-sm btn-danger" onclick="confirmDelete('@item.Id', 'holidayType', '@Url.Action("Delete", "HolidayType")')">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@Html.Partial("_DeleteConfirmation")

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.form-check-input').on('change', function () {
            var itemId = $(this).attr('id').split('_')[1];
            var isActive = $(this).is(':checked');
            $.ajax({
                url: '@Url.Action("UpdateStatus", "HolidayType")',
                type: 'POST',
                data: {
                    id: itemId,
                    isActive: isActive
                },
               
            });
        });
    });
</script>
