@using ApwPayroll_Application.Features.Users.Commands.Login
@using ApwPayroll_Domain.Entities.AspUsers
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AspUser> _signInManager;


@model UserLoginCommand
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="ladylip" data-sidebar-size="lg">
<head>
    @Html.Partial("~/Views/Shared/_title_meta.cshtml")
    @Html.Partial("~/Views/Shared/_head_css.cshtml")
    <style>
        .auth-bg-cover {
            background: linear-gradient(151deg, rgba(249,150,34,1) 0%, rgba(255,255,255,1) 47%, rgba(97,179,93,1) 100%) !important;
        }

        .bg-overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            right: 0;
            bottom: 0;
            left: 0;
            top: 0;
        }

        .auth-one-bg .bg-overlay {
            background: -webkit-gradient(linear,left top,right top,from(#364574),to(#405189));
            background: linear-gradient(to right,#364574,#405189);
            opacity: .1;
        }

    </style>

</head>

<body>

    <!-- auth-page wrapper -->
    <div class="auth-page-wrapper auth-bg-cover py-5 d-flex justify-content-center align-items-center min-vh-100">
        <div class="bg-overlay"></div>
        <!-- auth-page content -->
        <div class="auth-page-content overflow-hidden pt-lg-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card overflow-hidden m-0">
                            <div class="row justify-content-center g-0">
                                <div class="col-lg-6">
                                    <div class="auth-one-bg h-100 ms-4 mb-0">
                                        @*                                         <div class="bg-overlay"></div>
                                        *@                                        <div class="position-relative h-100 d-flex flex-column">
                                            <div class="mb-4">
                                                @*   <a href="@Url.Action("Index", "Dashboard")" class="d-block">
                                                <img src="~/assets/images/logo-light.png" alt="" height="40">
                                                </a> *@
                                            </div>
                                            <div class="mt-auto">
                                                @*  <div class="mb-3">
                                                <i class="ri-double-quotes-l display-4 text-success"></i>
                                                </div>

                                                <div id="qoutescarouselIndicators" class="carousel slide" data-bs-ride="carousel">
                                                <div class="carousel-indicators">
                                                <button type="button" data-bs-target="#qoutescarouselIndicators" data-bs-slide-to="0" class="active"
                                                aria-current="true" aria-label="Slide 1"></button>
                                                <button type="button" data-bs-target="#qoutescarouselIndicators" data-bs-slide-to="1"
                                                aria-label="Slide 2"></button>
                                                <button type="button" data-bs-target="#qoutescarouselIndicators" data-bs-slide-to="2"
                                                aria-label="Slide 3"></button>
                                                </div>
                                                <div class="carousel-inner text-center text-warning " style="padding-bottom:15px">
                                                <div class="carousel-item active">
                                                <p class="fs-15 fst-italic">" Join Aapka Policy Wala as a POSp "</p>
                                                </div>
                                                <div class="carousel-item">
                                                <p class="fs-15 fst-italic">" Make Your Wish Come True With Aapka Policy Wala"</p>
                                                </div>
                                                <div class="carousel-item">
                                                <p class="fs-15 fst-italic">" Great! Clean code, clean design, easy for customization. Thanks very much! "</p>
                                                </div>
                                                </div>
                                                </div>*@
                                                <!-- end carousel -->

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="p-lg-5 p-4">
                                        <div class="mb-4 d-flex justify-content-center">
                                            <a class="d-block">
                                                <img src="~/assets/images/logo-light.png" alt="" height="100">
                                            </a>
                                        </div>
                                        <div class="mt-4">
                                            <div class="p-4 my-auto">
                                                <h4 class="fs-20 text-center">Log In</h4>
                                                <!-- form -->
                                                <form asp-action="Login" asp-controller="Account">
                                                    @* <input hidden asp-for="SiteKey" /> *@

                                                    <div class="mb-3">
                                                        <label for="UserName" class="form-label">UserName</label>
                                                        <input class="form-control" asp-for="Email" type="text" id="" required=""
                                                               placeholder="Enter your UserName">

                                                    </div>
                                                    <div class="mb-3">
                                                        <a asp-action="ForgotPassword" asp-controller="Administration" class="text-muted float-end">
                                                            <small>
                                                                Forgot
                                                                your
                                                                password?
                                                            </small>
                                                        </a>
                                                        <label for="password" class="form-label">Password</label>
                                                        <input class="form-control" asp-for="Password" type="password" required="" id="password"
                                                               placeholder="Enter your password">

                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="form-check">
                                                            <input type="checkbox" asp-for="RememberMe" class="form-check-input"
                                                                   id="checkbox-signin">
                                                            <label class="form-check-label" for="checkbox-signin">
                                                                Remember
                                                                me
                                                            </label>
                                                        </div>
                                                    </div>
                                                    @* <div class="g-recaptcha" data-sitekey="@Model.SiteKey"></div> *@
                                                    <div class="mb-0 text-start">
                                                        <button class="btn btn-warning w-100" type="submit">
                                                            <i class="ri-login-circle-fill me-1"></i> <span class="fw-bold">
                                                                Log
                                                                In
                                                            </span>
                                                        </button>
                                                    </div>

                                                    <div asp-validation-summary="All" class="mt-4 text-danger"></div>
                                                </form>
                                                <!-- end form-->
                                            </div>
                                        </div>
                                        @*
                                        <div class="mt-5 text-center">
                                        <p class="mb-0">Already have an account ? <a href="@Url.Action("SignInCover", "Authentication")" class="fw-semibold text-primary text-decoration-underline"> Signin</a> </p>
                                        </div> *@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->

                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end auth page content -->
        <!-- footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p class="mb-0" style="color:black">
                                &copy;
                                <script>document.write(new Date().getFullYear())</script> AapkaPolicyWala. Crafted with <i class="mdi mdi-heart text-danger"></i> by Sircl Tech.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->
    </div>
    <!-- end auth-page-wrapper -->
    @Html.Partial("~/Views/Shared/_vendor_scripts.cshtml")
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- validation init -->
    <script src="~/assets/js/pages/form-validation.init.js"></script>
    <!-- password create init -->
    <script src="~/assets/js/pages/passowrd-create.init.js"></script>

</body>
</html>

