
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Registration/_RegistrationLayout.cshtml";
}  


<style>
    .table-dark-borders td, .table-dark-borders th {
        border: 1px solid #333;
    }
 

</style>
<div class="table-responsive">
    <table class="table table-dark-borders">
        <thead>

            <tr>
                <th class="text-center">S.No.</th>
                <th class="text-center">Particulars</th>
                <th>Yes</th>
                <th>No</th>
            </tr>
        </thead>
        <tbody>


@* 
            <tr>
                <td>1</td>
                <td>Resume</td>
                @if (ViewBag.employee != null && ViewBag.employee.resume != null)
                {
                    <td><input type="checkbox" class="custom-control-input"checked onclick="preventUncheck(this)"  /></td>
                    <td><input type="checkbox" disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                }
            </tr> *@
            <tr>
                <td>2</td>
                <td>Education Certificate (Any 1 whichever applicable)</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td class="text-center">a)</td>
                <td>X Standard</td>
                @{
                    var xStandard = false;
                    if (ViewBag != null && ViewBag.employee.EmployeeDocuments != null)
                    {
                        foreach (var document in ViewBag.employee.EmployeeDocuments)
                        {
                            if (document.EmployeeDocumentType.Name=="XStandard")
                            {
                                xStandard = true;
                                break;
                            }
                        }
                    }
                }
                @if (xStandard)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox"disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                }
            </tr>
            <tr>
                <td class="text-center">b)</td>
                <td>XII Standard</td>
                @{
                    var xIIStandard = false;
                    if (ViewBag.employee != null && ViewBag.employee.EmployeeDocuments != null)
                    {
                        foreach (var document in ViewBag.employee.EmployeeDocuments)
                        {
                            if (document.EmployeeDocumentType.Name == "XIIStandard")
                            {
                                xIIStandard = true;
                                break;
                            }
                        }
                    }
                }
                @if (xIIStandard)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox" disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                }
            </tr>
            <tr>
                <td class="text-center">c)</td>
                <td>Graduation</td>
                @{
                    var Graduation = false;
                    if (ViewBag.employee != null && ViewBag.employee.EmployeeDocuments != null)
                    {
                        foreach (var document in ViewBag.employee.EmployeeDocuments)
                        {
                            if (document.EmployeeDocumentType.Name == "Graduation")
                            {
                                Graduation = true;
                                break;
                            }
                        }
                    }
                }
                @if (Graduation)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox" disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                }
            </tr>
            <tr>
                <td class="text-center">d)</td>
                <td>Post Graduation</td>
                @{
                    var postGraduation = false;
                    if (ViewBag.employee != null && ViewBag.employee.EmployeeDocuments != null)
                    {
                        foreach (var document in ViewBag.employee.EmployeeDocuments)
                        {
                            if (document.EmployeeDocumentType.Name == "XStandard")
                            {
                                postGraduation = true;
                                break;
                            }
                        }
                    }
                }
                @if (postGraduation)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox"disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                }
            </tr>
            <tr>
                <td class="text-center">e)</td>
                <td>Any other </td>
                @{
                    var hasCertificate = false;
                    if (ViewBag.employee != null && ViewBag.employee.EmployeeDocuments != null)
                    {
                        foreach (var document in ViewBag.employee.EmployeeDocuments)
                        {
                            if (document.EmployeeDocumentType.Name == "Other")
                            {
                                hasCertificate = true;
                                break;
                            }
                        }
                    }
                }
                @if (hasCertificate)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox"disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                }
            </tr>
            <tr>
                <td>3</td>
                <td>Previous Employment Proof (Any 2 whichever applicable)</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td class="text-center">a)</td>
                <td>Previous Employment Service certificate</td>
                @{
                    var serviceCertificate = false;
                    if (ViewBag.employee != null && ViewBag.employee.EmployeeDocuments != null)
                    {
                        foreach (var document in ViewBag.employee.EmployeeDocuments)
                        {
                            if (document.EmployeeDocumentType.Name == "Service Certificate   ")
                            {
                                serviceCertificate = true;
                                break;
                            }
                        }
                    }
                }
                @if (serviceCertificate)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox" disabled/></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                }
            </tr>
            <tr>
                <td class="text-center">b)</td>
                <td>Previous Employment Relieving letter</td>
                @{
                    var relivingLetter = false;
                    if (ViewBag.employee != null && ViewBag.employee.EmployeeDocuments != null)
                    {
                        foreach (var document in ViewBag.employee.EmployeeDocuments)
                        {
                            if (document.EmployeeDocumentType.Name == "Reliving Letter")
                            {
                                relivingLetter = true;
                                break;
                            }
                        }
                    }
                }
                @if (relivingLetter)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox" disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                }
            </tr>
            <tr>
                <td class="text-center">c)</td>
                <td>Previous Employment Appointment Letter</td>
                @{
                    var appointmentLetter = false;
                    if (ViewBag.employee != null && ViewBag.employee.EmployeeDocuments != null)
                    {
                        foreach (var document in ViewBag.employee.EmployeeDocuments)
                        {
                            if (document.EmployeeDocumentType.Name == "Reliving Letter")
                            {
                                appointmentLetter = true;
                                break;
                            }
                        }
                    }
                }
                @if (appointmentLetter)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox"disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                }
            </tr>
            <tr>
                <td class="text-center">d)</td>
                <td>Previous Employment Last Drawn Pay slip</td>
                @{
                    var paySlip = false;
                    if (ViewBag.employee != null && ViewBag.employee.EmployeeDocuments != null)
                    {
                        foreach (var document in ViewBag.employee.EmployeeDocuments)
                        {
                            if (document.EmployeeDocumentType.Name == "Pay Slip")
                            {
                                paySlip = true;
                                break;
                            }
                        }
                    }
                }
                @if (paySlip)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox"disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                }
            </tr>
            <tr>
                <td>4</td>
                <td>ID proof and Address Proof</td>
                @{
                    var idProof = false;
                    if (ViewBag.employee != null && ViewBag.employee.EmployeeDocuments != null)
                    {
                        foreach (var document in ViewBag.employee.EmployeeDocuments)
                        {
                            if (document.EmployeeDocumentType.Name == "Aadhar Card")
                            {
                                idProof = true;
                                break;
                            }
                        }
                    }
                }
                @if (idProof)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox" disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                }
            </tr>
            <tr>
                <td class="text-center">a)</td>
                <td> Copy of PAN Card</td>
                @{
                    var panCard = false;
                    if (ViewBag.employee != null && ViewBag.employee.EmployeeDocuments != null)
                    {
                        foreach (var document in ViewBag.employee.EmployeeDocuments)
                        {
                            if (document.EmployeeDocumentType.Name == "Pan Card")
                            {
                                panCard = true;
                                break;
                            }
                        }
                    }
                }
                @if (panCard)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox"disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                }
            </tr>
            <tr>
                <td class="text-center">b)</td>
                <td> Copy Of Passport</td>
                @{
                    var passport = false;
                    if (ViewBag.employee != null && ViewBag.employee.EmployeeDocuments != null)
                    {
                        foreach (var document in ViewBag.employee.EmployeeDocuments)
                        {
                            if (document.EmployeeDocumentType.Name == "Passport")
                            {
                                passport = true;
                                break;
                            }
                        }
                    }
                }
                @if (passport)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox" disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                }
            </tr>
            <tr>
                <td class="text-center">c)</td>
                <td> Copy of Aadhar</td>
                @{
                    var card = false;
                    if (ViewBag.employee != null && ViewBag.employee.EmployeeDocuments != null)
                    {
                        foreach (var document in ViewBag.employee.EmployeeDocuments)
                        {
                            if (document.EmployeeDocumentType.Name == "Aadhar Card")
                            {
                                card = true;
                                break;
                            }
                        }
                    }
                }
                @if (card)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox"disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                }
            </tr>
            <tr>
                <td class="text-center">d)</td>
                <td>Copy Of Voters ID / Driving License (If Available) </td>
                @{
                    var voterId = false;
                    if (ViewBag.employee != null && ViewBag.employee.EmployeeDocuments != null)
                    {
                        foreach (var document in ViewBag.employee.EmployeeDocuments)
                        {
                            if (document.EmployeeDocumentType.Name == "Voter Id")
                            {
                                voterId = true;
                                break;
                            }
                        }
                    }
                }
                @if (voterId)
                {
                    <td><input type="checkbox" checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox"disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                }
            </tr>
            <tr>
                <td class="text-center">e)</td>
                <td> Copy Of Ration Card </td>
                @{
                    var rationCard = false;
                    if (ViewBag.employee != null && ViewBag.employee.EmployeeDocuments != null)
                    {
                        foreach (var document in ViewBag.employee.EmployeeDocuments)
                        {
                            if (document.EmployeeDocumentType.Name == "Ration Card")
                            {
                                rationCard = true;
                                break;
                            }
                        }
                    }
                }
                @if (rationCard)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox"disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                }
            </tr>
            <tr>
                <td>5</td>
                <td>Bank Account Proof (cancelled Chq / Passbook Copy) </td>
                @{
                    var bankPassbook = false;
                    if (ViewBag.employee != null && ViewBag.employee.EmployeeDocuments != null)
                    {
                        foreach (var document in ViewBag.employee.EmployeeDocuments)
                        {
                            if (document.EmployeeDocumentType.Name == "Passbook Copy")
                            {
                                bankPassbook = true;
                                break;
                            }
                        }
                    }
                }
                @if (bankPassbook)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox"disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                }
            </tr>
            <tr>
                <td>6</td>
                <td>Photographs – 2</td>
                @{
                    var photo = false;
                    if (ViewBag.employee != null && ViewBag.employee.EmployeeDocuments != null)
                    {
                        foreach (var document in ViewBag.employee.EmployeeDocuments)
                        {
                            if (document.EmployeeDocumentType.Name == "Photo")
                            {
                                photo = true;
                                break;
                            }
                        }
                    }
                }
                @if (photo)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox"disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                }
            </tr>
            <tr>
                <td>7</td>
                <td>Visiting Card Size Family Photo – For ESI</td>
                @{
                    var familyPhoto = false;
                    if (ViewBag.employee != null && ViewBag.employee.EmployeeDocuments != null)
                    {
                        foreach (var document in ViewBag.employee.EmployeeDocuments)
                        {
                            if (document.EmployeeDocumentType.Name == "Family Photo")
                            {
                                familyPhoto = true;
                                break;
                            }
                        }
                    }
                }
                @if (familyPhoto)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox"   disabled/></td>
                    
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>

                }
            </tr>
            <tr>
                <td>8</td>
                <td>For Income tax Purpose: (Above 25,000 gross) </td>
                
                @* @if (ViewBag.employee != null && ViewBag.employee.IncomeTax!=null)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox"  disabled/></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                } *@
            </tr>
            <tr>
                <td rowspan="3" class="align-middle ">9</td>
                <td>Existing ESI No</td>
                @if (ViewBag.employee != null && ViewBag.employee.ESINumber != null)
                {
                 <td rowspan="3" class="align-middle "><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td rowspan="3" class="align-middle "><input type="checkbox" disabled/></td>

                }
                else
                {
                    <td rowspan="3" class="align-middle "><input type="checkbox" disabled /></td>
                    <td rowspan="3" class="align-middle "><input type="checkbox"checked onclick="preventUncheck(this)" /></td>

                }
            </tr>
            <tr class="border-separator">
                <td>ESI Dispensary for IP   </td>

            </tr>
            <tr class="border-separator">
                <td>ESI Dispensary for Family </td>


            </tr>

            <tr>
                <td>10</td>
                <td>Joining Documents </td>
                <td>Filled</td>
                <td>Signed</td>
            </tr>
            <tr>
                <td class="text-center">a)</td>
                <td>Personal Information Sheet</td>
               @*  @if (ViewBag.employee != null && ViewBag.employee.Personalnformation)
                {
                <td><input type="checkbox"checked="checked"/></td>
                    <td><input type="checkbox" disabled/></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                } *@
            </tr>
            <tr>
                <td class="text-center">b)</td>
                <td> PF nomination & Declaration Form</td>
               @*  @if (ViewBag.employee != null && ViewBag.employee.PFnomiantion)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox"disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                } *@
            </tr>
            <tr>
                <td class="text-center">c)</td>
                <td>ESI form – If applicable</td>
              @*   @if (ViewBag.employee != null && ViewBag.employee.Esiform)
                {
                   
                    <td><input type="checkbox" checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox" disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox" checked onclick="preventUncheck(this)" /></td>
                } *@
            </tr>
            <tr>
                <td class="text-center">d)</td>
                <td>Reference Check Form</td>
                @* @if (ViewBag.employee != null && ViewBag.employee.ReferenceCheck)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox"disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                } *@
            </tr>
            <tr>
                <td class="text-center">e)</td>
                <td> Nomination Form</td>
               @*  @if (ViewBag.employee != null && ViewBag.employee.Nominationform)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox" disabled/></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                } *@
            </tr>
            <tr>
                <td class="text-center">f)</td>
                <td>ID Card Form</td>
                @* @if (ViewBag.employee != null && ViewBag.employee.IDCardForm)
                {
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                    <td><input type="checkbox" disabled /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                    <td><input type="checkbox"checked onclick="preventUncheck(this)" /></td>
                } *@
            </tr>
            <tr>
                <th>Date Of Hiring</th>
                <th>Completion Of All Above Activities</th>
                <th colspan="2">
                    Name & Signature of Implant<br />
                    HR
                </th>
            </tr>
            <tr>
                
                <td> @(ViewBag?.employee?.DateOfJoining ?? "------")</td>
                <td> Yes/No</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <th colspan="4" class="text-center">For Office Use Only</th>
            </tr>
            <tr>
                <td>Employee ID</td>
                

                <td>@(ViewBag?.employee?.EmployeeCode    ?? "------") </td>
                <td>Client</td>
                 
                <td>@* @(ViewBag?.employee?.Client ?? "------") *@ </td>
            </tr>
            <tr>
                <td>Employee Name</td>
                
                <td> <b> @(ViewBag?.employee?.Salutation.ToString() ?? "------")</b> @(ViewBag?.employee?.FirstName.ToUpper() ?? "------")  @(ViewBag?.employee?.LastName?.ToUpper() ?? "------")</td>
                <td>Department</td>
                <td> @(ViewBag.department.Name??"------") </td>
            </tr>
            <tr>
                <td>Date Of Joining</td>
                <td> @(ViewBag?.employee?.DateOfJoining ?? "------")</td>
                <td>Designation</td>
                <td> @(ViewBag.designation.Name ?? "------")</td>
            </tr>
            <tr>
                <td>Location</td>
                <td> @* @(ViewBag?.employee?.Location ?? "------") *@</td>
                <td>Sub Location</td>
                <td> @* @(ViewBag?.employee?.SubLocation ?? "------") *@</td>
            </tr>
            <tr>
                <td>Salary/Gross</td>
                <td> @* @(ViewBag?.employee?.Salary ?? "------") *@</td>
                <td>State</td>
                <td> @* @(ViewBag?.employee?.EmployeeAddresses.State ?? "------") *@</td>
            </tr>

        </tbody>
    </table>
</div>


<script>
    function preventUncheck(checkbox) {
        if (!checkbox.checked) {
            checkbox.checked = true;
        }
    }
    function preventUnchecked(checkbox) {
        if (!checkbox.checked) {
            checkbox.checked = false;
        }
    }
   
</script>
 