@using ApwPayrollWebApp.Models
@model MasterModel
@{
    ViewData["Title"] = "Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <span class="card-title fw-normal">Add Branch</span>
        </div>
        <div class="card-body">
            <form asp-action="CreateBranch" method="post">
                        <input asp-for="createBranch.Id" hidden />
                <div class="row g-3">
                    <div class="col-md-4">
                        <label asp-for="createBranch.Name" class="form-label">Name</label>
                        <input asp-for="createBranch.Name" type="text" class="form-control " placeholder="Enter branch name" />
                        <span asp-validation-for="createBranch.Name" class="text-danger"></span>
                    </div>
                    <!-- Is Active Switch -->
                    <div class="col-md-2">
                        <div class="form-check form-switch form-control-lg mt-md-3">
                            <input asp-for="createBranch.IsActive" type="checkbox" class="form-check-input " id="isActiveToggle" />
                            <label class="form-check-label fs-6 " for="isActiveToggle">Is Active</label>
                        </div>
                    </div>
                    <div class="col-md-2 mt-md-5">
                        <button type="submit" class="btn btn-success" id="addBtn">
                            @(Model.createBranch != null && Model.createBranch.Id.HasValue && Model.createBranch.Id.Value != 0 ? "Update" : "Add")
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <span class="card-title fw-normal">Branch List</span>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-success">
                        <tr>
                            <th class="rounded-start">Sr.No</th>
                            <th>Name</th>
                            <th>Is Active</th>
                            <th class="rounded-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.Branch != null)
                        {
                            @foreach (var item in ViewBag.Branch)
                            {
                                <tr>
                                    <td>@(ViewBag.Branch.IndexOf(item) + 1)</td>
                                    <td>@item.Name</td>
                                    <td>
                                        <div class="form-check form-switch form-control-lg m-0 p-0">
                                            <input type="checkbox" class="form-check-input" id="isActiveToggle_@item.Id"  @(item.IsActive ? "checked" : "") />
                                            @* <label class="form-check-label" for="isActiveToggle_@item.Id">Active</label> *@
                                        </div>
                                    </td>
                                    <td>
                                        <a asp-action="BranchView" asp-route-id="@item.Id" class="btn btn-sm btn-info editBtn">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                        <a class="btn btn-sm btn-danger" onclick="confirmDelete('@item.Id', 'branch', '@Url.Action("Delete", "Branch")')">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <!-- dropzone min -->
    <script src="~/assets/libs/dropzone/dropzone-min.js"></script>

    <!--crypto-kyc init-->
    <script src="~/assets/js/pages/crypto-kyc.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

    <partial name="_ValidationScriptsPartial" />
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@Html.Partial("_DeleteConfirmation")

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.form-check-input').on('change', function () {
            var itemId = $(this).attr('id').split('_')[1];
            var isActive = $(this).is(':checked');
            $.ajax({
                url: '@Url.Action("UpdateStatus", "Course")', // Replace with your action and controller
                type: 'POST',
                data: {
                    id: itemId,
                    isActive: isActive
                }
            });
        });
    });
</script>
